<%- include('partials/header') %> <%- include('partials/FacultyNavbar') %>
<div class="c-box">
  <div class="c-item1">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS57cxS-wC2GujcEE-N_c5epmqhydszCHIk1Q&usqp=CAU"
      alt=""
    />
    <div class="c-info font-label">
      <p>Name : <%=facultyName%></p>
      <p>Email Id : <%=facultyEmail%></p>
      <p>Designation : <%=facultyDesignation%></p>
      <p>Contact Number : <%=facultyNumber%></p>
    </div>
  </div>
  <div class="c-item2">
    <div class="c-flex2">
      <form action="/Compose" method="get">
        <Button class="c-btn font-label">Add Student</Button>
      </form>
      <form action="/StudentList" method="get">
        <Button class="c-btn font-label">Students List</Button>
      </form>
      <form action="/Presenty" method="get">
        <Button class="c-btn font-label">Attendance</Button>
      </form>
    </div>
    <div class="lecture container my-5 font">
      <div class="container">
          <h3>Today's Lectures</h3>
          <table class="table-dark table table-striped">
          <thead>
            <tr>
              <th scope="col">10:10-:11:10</th>
              <th scope="col">11:10-:12:10</th>
              <th scope="col">01:10-:02:10</th>
              <th scope="col">02:10-:03:10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>MongoDB</td>
              <td>MySQL</td>
              <td>No lecture</td>
              <td>AngularJS</td>
            </tr>
          </tbody>
        </table>
      </div> 
      <div class="container">
        <h3>Tomorrow's Lectures</h3>
        <table class="table-dark table table-striped">
        <thead>
          <tr>
            <th scope="col">10:10-:11:10</th>
            <th scope="col">11:10-:12:10</th>
            <th scope="col">01:10-:02:10</th>
            <th scope="col">02:10-:03:10</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>JavaScript</td>
            <td>No Lecture</td>
            <td>AngularJS</td>
            <td>MongoDB</td>
          </tr>
        </tbody>
      </table>
      </div> 
    </div>
    
</div>
  </div>
  
</div>

<%- include('partials/footer') %>
