<%- include('partials/header') %> <%- include('partials/StudentNavbar') %>
<div class="c-box">
  
  <div class="c-item1">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS57cxS-wC2GujcEE-N_c5epmqhydszCHIk1Q&usqp=CAU" alt="">
    <div class="c-info font">
        <% results.forEach(result => { %>
            <p>Name : <%=result.name%></p>
            <p>Rollno : <%=result.rollno%></p>
            <p>Email : <%=result.email%></p>
            <p>Universtiy : Savitribai Phule Universtiy</p>
            <p>Year : Last Year </p>
        <% }) %>
        
    </div>
  </div>
  <div class="c-item2">
    <div class="container my-1 font">
        <table class="table table-dark table-striped ">
            <thead>
              <tr>
                <th scope="col">10/03/2024</th>
                <th scope="col">11/03/2024</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><span class="c-span">Present</span></td>
                <td><span class="c-span">Absent</span></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="container font">
        <table class="table table-dark table-striped ">
            <thead>
              <tr>
                <th scope="col">14/03/2024</th>
                <th scope="col">15/03/2024</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Present</td>
                <td><span class="c-span">Absent</span></td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="c-student-summary container font">
        <div class="sumitem">
            Total Lectures: 4
        </div>
        <div class="sumitem">
            Number of days Lecture attended: 2
        </div>
        <div class="sumitem">
            Missed lectures: 2
        </div>
    </div>
    <div class="c-student-summary my-2 container font">
       <h4 class="my-2">Subjects</h4>
       <p>1) MySQL</p>
       <p>2) MicroSoft Azure</p>
       <p>3) AngularJS</p>
       <p>4) JavaScript</p>
       <p>5) MongoDB</p>
    </div>
  </div>
  </div>
</div>

<%- include('partials/footer') %>